* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-size: 35%;
    font-family: Bahnschrift;
  }
  
  header {
    width: 100%;
    height: 90px;
    color: black;
    text-align: center;
  }
  
  
  
  .dafis-hilang {
    display: block;
  }
  
  
  .content{
  /* margin: 10px; */
  display: block;
  background-color: white;
  height: 100%;
  overflow-x: auto;
  border: 3px solid #FF9900;
  text-align: justify;
  border-radius: 1px; /*UNTUK BENTUK GARIS PERSEGI ATAU TIDAK*/
  }
  
  .isi {
    width: 100%;
    display: block;
  }
  
  .petunjuk {
    width: 46%;
    float: left;
    margin: 20px;
    overflow: auto;
    
  }
  
  .kliktunjuk {
    margin: 5px 0px 5px 0px;
    background-color: #1a2c42;
    padding: 5px 13px;
    border-radius: 5px;
    width: 71%;
    font-size: 16px;
  }
  
  .kliktunjuk a {
    text-decoration: none;
    color: white;
  }
  
  .petunjuk1 {
    min-height: 5px;
    border-style: dashed;
    border-color: #0f1011;
    border-radius: 10px;
    background-color: #f6e6ce;
    padding: 10px 0px 5px 0px;
    display: block !important;
  }
  
  .petunjuk1 li {
    margin: 0px 25px 5px 35px;
  }
  
  .hilang {
    display: none !important;
  }
  
  .kotakgaris {
    width: 47%;
    float: left;
    overflow: auto;
    margin: 0px 0px 10px 10px;
    padding: 20px;
    border-left: 8px solid #1a2c42;
  }
  
  /*navigasi kembali*/
  .kembalikemateri {
    text-decoration: none;
    background-color: #f47070;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    width: 25%;
    cursor: pointer;
    height: 40px;
    font-family: Georgia, serif !important;
  }
  
  .kembalikemateri:hover {
    background-color: #f47070;
    color: black;
    transform: scale(1.1);
  }
  
  /*navigasi mulai*/
  .buttonmulai {
    font-family: Georgia, serif !important;
    display: inline-block;
    width: 25%;
    height: 40px;
    padding-top: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #FF9900;
    color: black;
    border-radius: 5px;
    position: relative;
    font-weight: bolder;
    margin-top: 30px;
    margin-right: 5px;
  }
  .buttonmulai:hover {
    background-color: #e4b672;
    transform: scale(1.1);
  }
  
  /* 
  .kanan {
    float: right;
    width: 75%;
    background-color: #f6e6ce;
    height: 150px;
    padding: 20px;
    overflow: auto;
    text-align: justify;
    box-sizing: border-box;
    border: 2px solid #1a2c42;
  } */
  
    .petunjuk {
      width: 50%;
      margin: 5px;
      float: left;
      overflow: none;
      height: auto;
    }
    .kliktunjuk {
      width: 92%;
      font-size: 12px;
    }
    .kotak {
      width: 100%;
      height: auto;
      float: none;
      overflow: none;
      margin-top: 20px;
      padding: 18px 0px 5px 0px;
      border-left: none;
      border-top: 2px solid #1a2c42;
    }
    .data_diri {
      width: 95%;
      border: 3px dashed #101111;
      background-color: #f6e6ce;
      padding: 43px;
      float: right;
      margin-top: -10px;
    }
    
    label {
      width: 100%;
      display: inline-block;
      padding: 0px 10px 0px 20px;
      text-align: justify;
    }
    
    .form {
      padding: 10px 10px 0px 20px;
    }
    
 
.hilang {
    display: none;
  }
  
  
  .w3-button {
    cursor: none;
    color: white;
    pointer-events: none;
    position: relative;
    left: 38%;
    width: 15%;
    margin-top: 10%;
  }
  
  .data {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .buttonback {
    font-family: Georgia, serif;
    display: inline-block;
    width: 25%;
    height: 45px;
    font-size: 1em;
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: orange;
    color: black;
    border: 3px double black;
    border-radius: 10px;
    position: relative;
    font-weight: bolder;
    margin-top: 10px;
    float: left;
    margin-left: 320px;
  }
  
  .buttonback a {
    font-family: Georgia, serif;
    padding-bottom: 5px;
  }
  
  .buttonback:hover {
    color: white;
    background-color: orange;
    border: 3px double white;
  }
  .buttonnext {
    font-family: Georgia, serif;
    display: inline-block;
    margin-top: 10px;
    color: black;
    background-color: #FDAE39;
    border: 3px double black;
    width: 25%;
    height: 45px;
    padding-top: 5px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    position: relative;
    font-weight: bolder;
    float: right;
    margin-right: 320px;
  }
  .buttonnext a {
    color: black;
    font-family: Georgia, serif;
    padding-bottom: 5px;
  }
  
  .buttonnext:hover {
    color: white;
    background-color: orange;
    border: 3px double white;
  }
  .buttonnext a:hover {
    color: white;
  }
  
  
  .buttonLanjut:hover {
    color: white;
    background-color: #FDAE39;
    border: 3px double white;
  }
  .buttoLanjut a:hover {
    color: white;
  }
  
  
  
  body {
    font-family: cursive;
  }
  #header {
    font-size: 1.2em;
    text-align: center;
    color: white !important;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
  }
  
  
  /*untuk bagian nomor soal kiri untuk putih*/
  .kiri {
    width: 30%;
    height: 500px;
    background-color: white;
    border: 3px groove black;
    border-radius: 5px;
    float: left;
    font-family: Georgia, serif;
  }
  .kanan {
    width: 70%;
    height: 500px;
    background-color: white;
    border: 3px groove black;
    border-radius: 5px;
    float: right;
    font-family: Georgia, serif;
    overflow-y: scroll;
  }
  
  /* h3 {
    text-align: center;
    background-color: #FDAE39;
    color: white;
    height: 8%;
    width: 100%;
  } */
  
  
  /*css Nomor Soal(judul) diatas no soal 1-10*/
  .bg_full {
    width: 98%;
    height: 35px;
    text-align: center;
    color: black;
    border: 2px double black;
    background-color: #FDAE39;
    margin-left: 5px;
    border-radius: 10px;
  }
  .text {
    font-size: 1.2em;
    font-weight: bold;
  }
  /*Kotak Didalam Nomor Soal dekat dengan waktu*/
  .bg_soal {
    width: 98%;
    border-radius: 2%;
    border: 5px double #f6e6ce;
    margin-left: 5px;
    font-size: 1.1em;
    background-color: #f6e6ce;
  }
  
  .bg_soal span {
    padding: 2px;
    display: inline-block;
    width: 40px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  /*CSS nomor soal 1-10 sebelah kiri*/
  .soal_nav {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    width: 13%;
    height: 30px;
    margin-left: 5%;
    margin-top: 10px;
    box-sizing: border-box;
  }
  
  .soal_nav:hover {
    cursor: pointer;
    background-color: orange;
    color: white;
  }
  /*css belum jawab soal*/
  .belum {
    background-color: white;
    text-align: center;
  }
  
  /*ukuran soal nomor soal*/
  .fontsedang {
    font-size: 16px;
  }
  
  .clear {
    clear: both;
  }
  
  .ket {
    width: 100%;
    margin-left: 8.5%;
    margin-top: 10px;
  }
  
  /* css sudah jawab soal*/
  .sudah {
    background-color: orange;
    color: white;
  }
  
  .bg_pertanyaan {
    width: 100%;
  }
  
  .no {
    padding: 10px 0;
  }
  
  .no p {
    margin-left: 24px !important;
    font-size: 18px;
  }
  
  .inti_pertanyaan {
    padding: 10px 20px;
  }
  
  .pertanyaannya {
    /* border-left: 4px solid green; */
    padding-left: 0px;
    font-size: 1.2em;
    height: fit-content;
  }
  
  .batas {
    margin-top: 20px;
    border-bottom: 2px solid black;
  }
  
  .lisoal li {
    margin-left: 25px;
  }
  /* radio button */
  
  .bg_pilihan,
  .checkbox {
    position: relative;
    margin: 20px 0;
    display: block;
    font-size: 18px;
    padding: -10px;
  }
  
  .bg_pilihan :hover,
  .checkbox:hover {
    cursor: pointer;
  }
  
  .checkbox {
    display: block;
  }
  
  .bg_pilihan input,
  .checkbox input {
    position: absolute;
    margin: 5px;
    padding: 0;
    visibility: hidden;
  }
  
  .bg_pilihan .textnya,
  .checkbox .textnya {
    margin-left: 30px;
    margin-bottom: 0;
  }
  
  /*navigasi radio button*/
  .nav_pilihan,
  .fake-checkbox {
    position: absolute;
    display: block;
    top: 0;
    left: 3px;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background-color: white;
  }
  
  .nav_pilihan:after,
  .fake-checkbox:after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background: black; /*warna radio button saat klik jawaban*/
    transform: translateX(-50%) translateY(-50%);
  }
  
  .nav_pilihan {
    border-radius: 50%;
  }
  
  .nav_pilihan:after {
    border-radius: 50%;
  }
  
  input[type="radio"]:checked + span .nav_pilihan:after {
    display: block;
  }
  
  /* akhir button selanjutnya dan sebelumnya untuk next soal */
  
  .nav_sebelum {
    background-color: red;
    color: white;
    width: 20%;
    height: 40px;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    display: inline-block;
    margin-left: 20%;
  }
  
  .nav_sebelum:hover {
    background-color: #fff6bf;
    color: black;
  }
  
  .nav_sebelum p {
    font-size: 18px;
  }
  
  .nav_selanjut {
    background-color: blue;
    color: white;
    width: 20%;
    height: 40px;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    display: inline-block;
    margin-left: 20%;
  }
  
  .nav_selanjut:hover {
    background-color: #fff6bf;
    color: black;
  }
  
  .nav_selanjut p {
    font-size: 18px;
  }
  
  /*css waktu pengerjaan*/
  .time {
    float: right;
    width: 20%;
    height: 35px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: #f6e6ce;
    color: black;
    border: 2px groove black;
    border-radius: 10px;
  }
  
  .dataaa {
    background-color: whitesmoke;
    height: 657px;
  }
  
  .skornya {
    margin-left: 0px;
    font-size: 18px;
    padding-top: 10px 0px;
    min-height: 450px;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .t_hasil {
    border-radius: 5px;
    font-family: Georgia, serif;
    padding: 20px;
    padding-left: 50px;
    width: 70%;
    text-align: justify;
    border: 3px dashed orange;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    margin-top: -50px;
  }
  .ket_ulang {
    font-family: Georgia, serif;
    font-size: 1.1em;
  }
  tr {
    margin-left: 50px;
  }
  
  .ket_hasil {
    width: 40%;
    font-size: 18px;
    padding: 5px !important;
  }
  
  .ket_ulang {
    font-size: 20px;
  }
  /*buton selesai kuis*/
  .selesai {
    font-weight: bold;
    width: 90%;
    height: 40px;
    text-align: center;
    background-color: green;
    color: white;
    border: 2px double black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
  }
  .selesai:hover {
    background-color: rgb(141, 181, 141);
    cursor: pointer;
    color: black;
  }
  
  .p {
    display: inline;
  }
  
  
  /*nomor 1 diatas soalnya*/
  .nomor {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #f6e6ce;
    color: black;
    border: 2px groove black;
    border-radius: 10px;
    width: 20%;
    text-align: center;
  }
  
  .judul {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 1.2em;
    width: 70%;
    height: 100px;
    padding: 15px;
    background-color: #FF9900;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    margin-top: -15px;
  }
  
  @media screen and (max-width: 992px) {
    .home {
      margin-left: 150px;
    }
    .fontsedang {
      font-size: 13px;
    }
    .fase {
      font-size: 12pt;
    }
    .tujuan {
      width: 100%;
    }
    .petunjuk {
      font-size: 15px;
      width: 100%;
      margin-left: -2px;
      height: fit-content;
    }
    .petunjuk h5 {
      font-size: 15px;
    }
    .bg_soal {
      font-size: 15px;
    }
    p {
      text-align: justify;
      font-size: 15px;
    }
    .w3-panel {
      width: 100%;
      height: fit-content;
      right: 0px;
    }
  
    .w3-panel2 {
      width: 100%;
      height: 350px;
      margin-top: 20px;
      margin-right: 3px;
    }
    .container {
      overflow: auto;
      width: 100%;
    }
  
    .w3-button {
      width: fit-content;
      margin-top: 50px;
      margin-left: -20px;
    }
    .kiri {
      width: 100%;
      height: fit-content;
      font-size: 15px;
    }
  
    .kanan {
      width: 100%;
      height: fit-content;
    }
    .kanan h3 {
      font-size: 18px !important;
    }
  
    .nav_sebelum {
      width: 45%;
    }
  
    .nav_selanjut {
      width: 45%;
    }
  
    .judul {
      text-align: center;
      width: 90%;
      font-size: 16px;
    }
  
    .t_hasil {
      width: 90%;
    }
  
    .evaluasi {
      width: 40%;
    }
    .button {
      font-size: 14px;
      float: right;
      height: 40px;
      margin-right: 40px;
    }
    .button2 {
      font-size: 14px;
      float: left;
      margin-left: 40px;
      height: 40px;
    }
  
    .text {
      text-align: center;
    }
    .kiri {
      height: fit-content;
    }
    .nav_sebelum {
      float: left;
      margin-left: 10px;
      width: 40%;
      height: 35px;
    }
    .nav_selanjut {
      float: right;
      margin-right: 10px;
      margin-top: -35px;
      width: 40%;
      height: 35px;
    }
    .nav_sebelum p {
      font-size: 14px;
    }
    .nav_selanjut p {
      font-size: 14px;
    }
    .buttonback {
      width: 40%;
      height: 35px;
      float: left;
      margin-left: 30px;
      font-size: 12px;
    }
    .buttonnext {
      width: 40%;
      float: right;
      margin-right: 20px;
      font-size: 12px;
      height: 35px;
    }
    .soal_nav {
      font-size: 15px;
    }
    .selesai {
      font-size: 15px;
      float: right;
      margin-right: 10px;
      margin-top: -35px;
      width: 40%;
      height: 35px;
    }
    .nomor,
    .time {
      font-size: 15px;
      width: 30%;
      height: 30px;
    }
    .nav_pilihan,
    .fake-checkbox {
      width: 15px;
      height: 15px;
    }
  
    .nav_pilihan:after,
    .fake-checkbox:after {
      width: 12px;
      height: 12px;
    }
    .nav_pilihan {
      margin-top: 7px;
    }
    .ket_ulang {
      font-size: 16px;
    }
    .buttonLanjut {
      font-size: 12px;
      width: 40%;
      height: 30px;
    }
  }  